<header>
    <div class="container">
    	<div class="img-container"></div>
        <div class="form-container">
        	<div class="form-title">repfinder</div>
            <div class="form-heading">Írjon a képviselőjének.</div>
			<div class="whitebox" id="form">
				<div class="submit-form">
					<form>
						<div class="form-group">
							<label for="address">Utca és házszám</label>
							<input id="address" name="address" class="form-control" required="required" placeholder="Kossuth tér 1-3." type="text">
						</div>
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group">
									<label for="city">Város</label>
									<input id="city" name="city" class="form-control" required="required" placeholder="Budapest" type="text">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="postcode">Irányítószám</label>
									<input id="postcode" name="postcode" class="form-control" required="required" placeholder="1055" type="text">
								</div>
							</div>								
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="alert input-error" id="input-error">
								</div>
							</div>
						</div>						
						<div class="row">
							<div class="col-sm-12">
								<div id="captcha"></div>
							</div>							
						</div>
						<div class="row">
							<div class="col-sm-1">
								<button type="button" id="fetch-data" class="btn btn-default">Elküldés</button>
							</div>						
						</div>							
					</form>
				</div>
			</div>
			<div class="whitebox" id="results">
				<div class="result-box">
					<div class="row">
						<div class="col-sm-3">
							<img id="photo" class="center-block" src="#" />
						</div>
						<div class="col-sm-9">
							<h1 id="name"></h1>
							<div class="row">
								<div class="col-sm-12">
									<label class="details-label">Az Ön országgyűlési képviselője</label>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<label id="district-data" class="details-label"></label>
								</div>
							</div>							
							<div class="row">
								<div class="col-sm-3">
									<label class="details-label">E-mail cím:</label>
								</div>
								<div class="col-sm-9">
									<a id="email-address" href="#">#</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<label class="details-label">Weboldal:</label>
								</div>
								<div class="col-sm-9">
									<a id="website" href="#">Katt</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<label class="details-label">Önéletrajz:</label>
								</div>
								<div class="col-sm-9">
									<a id="resume" href="#">Kattintson ide</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-1">
									<button type="button" id="back-to-input" class="btn btn-default">Visszalépés</button>
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>			
        </div>      
    </div>
</header>
<section class="aboutus">
	<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Az alkalmazásról.</h2>
                <div class="whyuseit">
					<p><strong>Mi ez?</strong> A repfinder egy webes alkalmazás, amely segítségével magyarországi lakosok könnyedén és gyorsan találhatják meg a lakóhelyükhöz tartozó országgyűlési képviselőt.</p>
					<p><strong>Miért fontos ez?</strong> Általánosságban elmondható, hogy a választópolgárok sokkal kevesebbszer fordulnak képviselőikhez problémáikkal, mint szükséges lenne. Ennek nagy részben a feladat bonyolultsága az oka: több perces feladat a lakóhelyhez tartozó képviselő megtalálása, beleértve a választókerület meghatározását, a hozzá tartozó képviselő megtalálását, valamint a képviselő kapcsolattartási adatainak felkutatását. A repfinder segítségével ez a folyamat néhány másodperc alatt elvégezhető. Minél több ember tudja elmondani könnyen és gyorsan véleményét, annál bizonyosabb, hogy ezek a vélemények meghallgatásra találnak.</p>
					<p><strong>Mit tárolnak rólam?</strong> Mi a felhasználókról semmilyen adatot nem tárolunk. Nem célunk megmondani a felhasználóknak, hogy kit, milyen ügyben keressenek fel, ezért a felhasználó adatait csak a szolgáltatás nyújtásához szükséges ideig használjuk fel.</p>
					<p><strong>Kik szolgáltatják az adatokat?</strong> Az oldalon közölt adatokat a Google, az Országgyűlés, illetve önkéntesek által összegyűjtött választókerületi térképek biztosítják. Az alkalmazásban esetlegesen hibák találhatóak és az elérhetőség a szolgáltatások elérhetőségétől függően változhat, éppen ezért az alkalmazásra semmiféle garancia nincs.</p>
            	</div>
            </div>
        </div>
    </div>
</section>
<footer>
	<div class="container">
		<div class="row">
            <div class="col-md-8 col-md-offset-2">
				<div class="footer-main">
					<span class="copyright">repfinder</span>
					<div class="fine-print">
						<p>Webes alkalmazás magyar országgyűlési képviselők felkeresésére.</p>
						<p>Az alkalmazás forráskódja és tartalma nyílt forráskódú,
						és az MIT licensz alapján lett kiadva. Az oldalon található Országházat ábrázoló képet készítette Andrew Shiva, CC BY-SA 4.0. További információért lásd a
						<a href="https://github.com/marcellp/repfinder">GitHub projektet</a>.</p>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>