<header>
    <div class="container">
    	<div class="img-container"></div>
        <div class="form-container">
        	<div class="form-title">repfinder</div>
            <div class="form-heading">Írjon a képviselőjének.</div>
			<div class="whitebox">
				<div class="submit-form">
					<form>
						<div class="form-group">
							<label for="address">Utca és házszám</label>
							<input id="address" name="address" class="form-control" required="required" placeholder="Kossuth tér 1-3." type="text">
						</div>
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group">
									<label for="city">Város</label>
									<input id="city" name="city" class="form-control" required="required" placeholder="Budapest" type="text">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label for="postcode">Irányítószám</label>
									<input id="postcode" name="postcode" class="form-control" required="required" placeholder="1055" type="text">
								</div>
							</div>								
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="alert input-error" id="input-error">
									A beírt cím nem megfelelő.
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-1">
								<button type="button" id="fetch-data" class="btn btn-default">Elküldés</button>		
							</div>
						</div>						
					</form>
				</div>
			</div>
        </div>      
    </div>
</header>
<section class="aboutus">
	<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Lorem ipsum?</h2>
                <div class="whyuseit">
					<p>Nunc eu suscipit leo, quis maximus velit. In ultrices nisl eget nisl aliquam maximus. Sed sed neque viverra, ultrices justo sit amet, ultricies massa. Integer vitae sapien dignissim, interdum lacus nec, lacinia massa. Duis ac nulla sed sem cursus porttitor nec tempus libero. Duis faucibus a libero eget semper. Ut pulvinar elit id venenatis sodales. Morbi efficitur massa id enim condimentum rutrum. Duis dignissim venenatis lacus, et luctus risus molestie sed. Vestibulum varius leo et quam viverra, vel euismod ipsum imperdiet.</p>
					<p>Morbi et sapien vulputate, facilisis nisl in, convallis elit. Duis quis augue ac dolor rhoncus convallis convallis quis justo. Ut efficitur sodales ipsum sit amet vulputate. Vestibulum iaculis ex leo. Maecenas ac tempus ante. Mauris rutrum, nibh sed ultrices sollicitudin, tortor odio mollis felis, vitae imperdiet nisi augue quis ipsum. Sed risus elit, dapibus sit amet ligula in, convallis tempor ante. Nulla vulputate nisl faucibus nulla mollis, a tincidunt erat elementum. Nam vel augue in justo pretium blandit. Mauris volutpat euismod nisi et sollicitudin. Nam in condimentum turpis.</p>
            	</div>
            </div>
        </div>
    </div>
</section>
<footer>
	<div class="container">
		<div class="row">
            <div class="col-md-8 col-md-offset-2">
				<div class="footer-main">
					<span class="copyright">repfinder</span>
					<div class="fine-print">
						<p>Webes alkalmazás magyar országgyűlési képviselők felkeresésére.</p>
						<p>Az alkalmazás forráskódja és tartalma nyílt forráskódú,
						és az MIT licensz alapján lett kiadva. További információért lásd a
						<a href="https://github.com/marcellp/repfinder">GitHub projektet</a>.</p>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>